//nesti?           USADO EN RANKING
.bdy-bg{
	background-image:$img-bg;
	img{
		width:$w-5;
	}

}
//nav
.btn-gen{
		padding:10px;
		display: flex;
		justify-content: center;
		align-items: center;
		 
			ul{
			display: flex;
			li{
				margin: 2em;
				list-style: none;
			
				a{
					font-size:$text-md;
					text-decoration: none;
					color:$secondary-color;
				&:hover{
					color:$hover-color;
			}
			}
		}
	}
	
}
//main ranking
.main-sect{
	@include flex(center,center);
	padding:10px;

	.faq{
		background-color: map-get($map:$colores,$key:'org');
		border: 2.5px solid $secondary-color;
		a{
			text-decoration: none;
			color: $secondary-color;
				&:hover{
				color: $main-color;
		}
		}
	}
	section{
		text-align: center;
		
		width: 40em;
		img{
			width: 15em;
		}
		h1{
			font-size:$text-md;
			text-decoration: none;
			color:$secondary-color;
		}
		li{
			background-color: map-get($map:$colores,$key:'org');
		
		border: 2.5px solid $secondary-color;

			padding: 8px;
			a{   

				font-size:$text-md;
				text-decoration: none;
				color:$secondary-color;
		}
	}
		p{
			font-size:$text-md;
			text-decoration: none;
			color:$secondary-color;

		}
	}

}
//    footer
.footer-sass{
	text-align: center;
	
	h3{
		color:$secondary-color;
		font-size:$text-ft;
		
	}
	a{


		img{
		
		width: 2em;
		&:hover{
		transform: rotateZ(360deg);
		transition: transform 0.5s;
	}
		}
	}
	
}
// termina ranking

.grid-reco{
	
	text-align: center;
	h2,h3,p{
		  color:$secondary-color;
            font-size:$text-md;
            text-align: center;
           
	}
	 img{

			width: 20em;
			margin: 5px ;
		}
	p{
		
		
		 border: 2.5px solid $secondary-color;
         background-color: map-get($map:$colores,$key:'org');
         
	}
	div{
		display: inline-block;
		

	 video{
                width: 30em;
                height: 300px;
            }
	}
}
//termina recomendaciones

//empieza nosotros

.nos-sass{
		text-align: center;
		font-size: $text-md;
		img{
			width: 15em;
			margin: 5px;
		}
	.div1{
		background-color: map-get($map:$colores,$key:'org');
		text-align: center;
		color:$secondary-color;
		
		border: 2.5px solid $secondary-color;
		a{
				border: 2px solid $main-color;
				font-size:$text-sm;
				text-decoration: none;
				color: $secondary-color;
				&:hover{
				color: $main-color;
		}
	}
}
}

//index

.header-index{

	font-size: $text-md;
	color:$secondary-color;
	text-align: center;
	div{
		width: 20em;
		img{
			width: 500px;
			height: 500px;
			overflow: hidden;
		}

	}

}

.main-index{
	font-size: 1.5em;
	color:$secondary-color;
	padding:5px;
	@include flex(center,center);
	textarea{
		

	}
}


.input-button{

	font-size: 0.7em;
}

.footer-index{
    text-align: center;
    h3{
        color:$secondary-color;
        font-size:$text-ft;

    }
    a{


        img{

        width: 2em;
        &:hover{
        transform: rotateZ(360deg);
        transition: transform 0.5s;
    }
        }
    }

}

